/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body {
  background-color: #000;
  height: 100%;
  margin: 0; 
  background: linear-gradient(to bottom, #de1f7c, #992694, #0c165b);
}

.hero-body {
  background: linear-gradient(to bottom, #de1f7c, #992694, #0c165b);
  position: relative;
}

.container p {
  color: #ffffff;
  font-size: 15px;
  font-weight: lighter;
}

.container strong {
  font-size: 15px;
  color: #ffffff;
}

.hero.is-fullheight .hero-body>.container, .hero.is-fullheight-with-navbar .hero-body>.container, .hero.is-halfheight .hero-body>.container {
  color: orange;
}

.button.is-link {
  background-color: #fff;
  color: #0c165b;
  margin-top: 25px;
}

.button.is-link:hover {
  background-color: #0c165b;
  color: #fff;
}

.title:not(.is-spaced):has(+.subtitle) {
  margin-bottom: 25px;
  font-size: 55px;
}

p.subtitle.has-text-light {
  margin-bottom: 50px;
  color: #fff;
  font-size: 25px;
}

.container .columns .column .box .title {
  margin-bottom: 25px;
  font-size: 25px;
  color: #de1f7c !important;
}

.field .label {
  font-weight: lighter;
  font-size: 16px;
  color: #000;
}

.input {
  margin-bottom: 15px;
}

.field.is-grouped.is-grouped-centered {
  justify-content: center;
  margin-bottom: 25px;
}

/* Style for the "Login" button */
.button.is-login {
  background-color: #0c165b;
  color: white;
  border-radius: 4px;
}

/* Style for the "Already have an account?" button */
.button.is-signup {
  color: #0c165b;
  border: 2px solid #0c165b;
}

.button.is-signup:hover {
  background-color: transparent;
  color: #0c165b;
  border: 2px solid #0c165b;
}

.footer {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;  
  z-index: 10;
}

.footer-content {
  display: flex;
  align-items: center;
}

.footer-content img {
  width: 50px !important;
  height: auto;
  margin-right: 15px;
}

.footer-content p {
  margin: 0; 
  font-size: 14px;
  color: #000;
}

.game-card {
  padding: 10px;
}

/* .card-footer {
  position: absolute;
  margin-bottom: 0px;
  width: 100%;
} */