/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

*/

/* ----- Gloabl Styles ----- */

/* Move main up to account for fixed footer */
main {
  padding-bottom: 100px;
}

/* Button Styles */
.button.is-link {
  background-color: #0c165b;
  color: white;
  border: 2px solid #0c165b;
}

.button.is-link:hover {
  background-color: white;
  color: #0c165b;
  border: 2px solid #0c165b;
}

.has-background-dark {
  background-color: #fff !important;
}

/* ----- Game Detail Styles ----- */

.game-detail .hero {
  background: linear-gradient(to bottom, #de1f7c, #992694, #2b317f, #0c165b, #000000);
  border-radius: 10px;
}

.game-art {
  border-radius: 10px;
}

/* ----- Landing Page Styles ----- */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-body {
  flex-grow: 0;
  flex-shrink: 0;
}

.landing-logo {
  margin: 0 auto 20px;
  max-width: 150px;
  padding: 0px 0px 30px 0px;
}

.landing-page .container {
  padding: 50px;
  border-radius: 15px;
  background: linear-gradient(to bottom, #de1f7c, #992694, #2b317f, rgb(12, 22, 91), #000);
  min-height: auto;
  height: auto;
  display: block;
}

/* H1 Style */
h1.title.has-text-white {
  font-size: 45px;
  text-align: center;
  margin-bottom: 20px;
}

/* Subtitle Style */
p em {
  font-size: 22px;
  text-align: center;
  color: #fff;
}

/* Paragraphs Style */
.container p {
  /* color: #e8e8e8; */
  font-size: 14px;
  line-height: 1.6;
}

.container p strong {
  /* color: #e8e8e8; */
  font-size: 14px;
  letter-spacing: 0.025em;
}

/* Get Started Button Style */
.button.is-link.mt-5 {
  background-color: #fff;
  color: #0c165b;
  border: 2px solid #fff;
}

.button.is-link.mt-5:hover {
  background-color: #de1f7c;
  color: #fff;
  border: 2px solid #de1f7c;
}

/* ----- Login/Register Page Styles ----- */
.box {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
}

.title.is-3.has-text-link.has-text-centered {
  margin-bottom: 25px;
  font-size: 25px;
  color: #de1f7c !important;
}

.field {
  text-align: center;
}

.field .label {
  font-weight: lighter;
  font-size: 16px;
  color: #000;
}

.input {
  margin-bottom: 15px;
}

.field .button.is-link {
  margin-bottom: 15px;
}

/* ----- Header Page Styles ----- */
header {
  margin: 25px 0px;
  width: 100%;
  padding: 0 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 100%;
  max-height: 50px;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* ----- Styles for Wishlist Button ----- */
.nav-links a[href="/wishlist"] {
  color: #0c165b;
  text-decoration: none;
  padding: 8px 16px;
  transition: color 0.3s;
}

.nav-links a[href="/wishlist"]:hover {
  color: #de1f7c;
}

/* ----- Styles for Logout Button ----- */
#logout-button {
  text-decoration: none;
  transition: color 0.3s;
  padding: 8px 16px;
}

#logout-button a {
  color: #fff;
}

#logout-button:hover {
  text-decoration: none;
  transition: color 0.3s;
}

#logout-button:hover a {
  color: #0c165b;
}

/* ----- Styles the search bar ----- */
form {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 50px 0px 35px 0px;
}

form input[type="text"] {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1.5px solid #ccc;
  width: 100%;
}

form button {
  background-color: #0c165b;
  color: white;
  border: 2px solid #0c165b;
  padding: 8px 16px;
  transition: color 0.3s;
  border-radius: 4px;
}

form button:hover {
  background-color: white;
  color: #0c165b;
  border: 2px solid #0c165b;
}

#games-title {
  font-size: 36px;
  color: #de1f7c;
  padding: 25px 0px 25px 0px;
}

#loading-message {
  color: #000;
}

/* ----- Styles for the GameCards ----- */
#wishlist-title {
  font-size: 36px;
  color: #de1f7c;
  padding: 25px 0px 25px 0px;
}

.game-card {
  margin: 0 15px;
  transition: transform 0.3s ease;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.game-card:hover {
  transform: scale(1.05);
}

.game-card .card-image .image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.game-card__title {
  color: #b242a8;
  padding: 10px;
}

.tag.is-medium {
  background-color: #d7d7d7;
  color: #000;
  padding: 5px 10px;
  border-radius: 4px;
}

.game-card__genres,
.game-card__platforms,
.game-card__rating {
  color: #000 !important;
  padding: 0px 0px 25px 0px;
}


/* Ensure footer stays at the bottom */
.card-footer {
  margin-top: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

/* Styling for 'See Details' and 'Add to Wishlist' links */
.game-card__link,
.card-footer-item {
  background-color: #0c165b;
  color: white;
  border: 2px solid #0c165b;
  flex: 1;
  text-align: center;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.game-card__link:hover,
.card-footer-item:hover {
  background-color: white;
  color: #0c165b;
  border: 2px solid #0c165b;
}

.game-card__link {
  border-radius: 0px 0px 0px 8px;
}

.add-to-wishlist {
  border-radius: 0px 0px 8px 0px;
}

.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
}

/* ----- Style for Footer ----- */
.footer {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
}

.footer-content img {
  width: 50px !important;
  height: auto;
  margin-right: 15px;
}

.footer p {
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #000;
}

/* ----- Styles for Dark Mode ----- */

@media (prefers-color-scheme: dark) {
  /* ----- Gloabl Styles ----- */

  /* Button Styles */
  .button.is-link {
    background-color: #fff;
    color: #0c165b;
    border: 2px solid #fff;
  }

  .button.is-link:hover {
    background-color: #de1f7c;
    color: #fff;
    border: 2px solid #de1f7c;
  }

  .has-background-dark {
    background-color: #252525 !important;
  }

  .field .label {
    font-weight: lighter;
    font-size: 16px;
    color: #fff;
  }

  .nav-links a[href="/wishlist"] {
    color: #fff;
  }

  .nav-links a[href="/wishlist"]:hover {
    color: #de1f7c;
  }

  #logout-button a {
    color: #0c165b;
  }

  #logout-button:hover a {
    color: #fff;
  }

  form input[type="text"] {
    border: 1.5px solid #3f3f3f;
  }

  form button {
    background-color: #fff;
    color: #0c165b;
    border: 2px solid #fff;
  }

  form button:hover {
    background-color: #de1f7c;
    color: #fff;
    border: 2px solid #de1f7c;
  }

  #loading-message {
    color: #fff;
  }

  .game-card {
    background-color: #3f3f3f;
  }

  .tag.is-medium {
    background-color: #3f3f3f;
    color: #fff;
  }

  .game-card__genres,
  .game-card__platforms,
  .game-card__rating {
    color: #fff !important;
  }

  .game-card__link,
  .card-footer-item {
    background-color: #fff;
    color: #0c165b;
    border: 2px solid #fff;
  }

  .game-card__link:hover,
  .card-footer-item:hover {
    background-color: #de1f7c;
    color: #fff;
    border: 2px solid #de1f7c;
  }

  .footer {
    background-color: #252525;
  }

  .footer p {
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {

  .game-detail-title {
    color:#ffffff;
  }

}